@charset "UTF-8";
/* ===============================================================================
  # mixin
 ===============================================================================*/
/* ===============================================================================
  # font
 ===============================================================================*/
/* ===============================================================================
  # colors
 ===============================================================================*/
/* ===============================================================================
  # プログラムグループ
 ===============================================================================*/
@media screen and (max-width: 767px) {
  .is_pc {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .is_sp {
    display: none !important;
  }
}

/* ===============================================================================
  # ヘルパーグループ
 ===============================================================================*/
/* ===============================================================================
  # ベースグループ
 ===============================================================================*/
html {
  font-size: 62.5%;
}

body {
  width: 100%;
  min-width: 100%;
  background: #f3f3f3;
  color: #3e3e3e;
  font-weight: normal;
  line-height: 1.5;
  font-family: "Montserrat", "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

/* ===============================================================================
  # エレメントモジュールグループ
 ===============================================================================*/
/*セクション見出し*/
.el_lv2Heading {
  margin-bottom: 60px;
  font-weight: bold;
  font-size: 3.6rem;
  line-height: 1.22222;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .el_lv2Heading {
    margin-bottom: 40px;
    font-size: 3rem;
    line-height: 3.7rem;
  }
}

/*ボタン（オレンジ）*/
.el_btn {
  display: inline-block;
  width: 282px;
  height: 50px;
  line-height: 50px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 5px rgba(62, 62, 62, 0.2);
          box-shadow: 0px 3px 5px rgba(62, 62, 62, 0.2);
  background: #ffaa3b;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.025em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 767px) {
  .el_btn {
    width: 222px;
    max-width: 100%;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    letter-spacing: 0;
  }
}

.el_btn:focus, .el_btn:hover {
  background: #f18900;
}

.el_btn:disabled {
  background: #b2b2b2;
}

/*ボタン角*/
.el_btnRect {
  height: 64px;
  width: 236px;
  display: inline-block;
  border: 1px solid #707070;
  background: #ffffff;
  font-weight: 600;
  font-size: 20px;
  line-height: 62px;
  text-align: center;
  letter-spacing: 0.2em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 767px) {
  .el_btnRect {
    width: 268px;
    max-width: 100%;
    height: 54px;
    font-size: 18px;
    line-height: 52px;
    padding-left: 4px;
  }
}

.el_btnRect:focus, .el_btnRect:hover {
  background: #3e3e3e;
  color: #ffffff;
}

/*ラベル*/
.el_label {
  display: inline-block;
  width: 121px;
  height: 30px;
  padding: 0 1em;
  border: 2px solid #4973ff;
  border-radius: 1em;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.025em;
}

@media screen and (max-width: 767px) {
  .el_label {
    width: 81px;
    padding: 0 1em;
    font-size: 12px;
    line-height: 18px;
    height: 20px;
  }
}

/*注釈*/
.el_note {
  font-size: 1.2rem;
  line-height: 1.66667;
}

/* ===============================================================================
  # レイアウト
 ===============================================================================*/
.ly_sect {
  margin-bottom: 120px;
}

@media screen and (max-width: 767px) {
  .ly_sect {
    margin-bottom: 60px;
  }
}

.ly_inner {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

.ly_bgWrapper {
  position: relative;
}

.ly_bgWrapper::after {
  display: block;
  position: absolute;
  top: 148px;
  bottom: 136px;
  left: 0;
  width: 76.5625%;
  background: #3e3e3e;
  content: "";
}

@media screen and (max-width: 767px) {
  .ly_bgWrapper::after {
    bottom: 0;
    width: 100%;
    height: auto;
    top: 61px;
  }
}

/* ===============================================================================
  # header
 ===============================================================================*/
.ly_header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 83px;
  background-color: rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 767px) {
  .ly_header {
    height: 68px;
    padding-right: 16px;
    padding-left: 16px;
    background: #ffffff;
  }
}

.ly_header_inner {
  position: relative;
  z-index: 1;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (max-width: 767px) {
  .ly_header_inner {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.el_headerLogo {
  position: relative;
  z-index: 1;
  font-weight: bold;
  font-size: 23px;
  line-height: 68px;
}

.bl_headerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bl_headerNav li {
  height: 83px;
  margin-right: 40px;
}

.bl_headerNav li:last-of-type {
  margin-right: 0;
}

.bl_headerNav_link {
  display: inline-block;
  position: relative;
  padding: 19px 0;
  font-size: 1.6rem;
  line-height: 2.8125;
  letter-spacing: -0.025rem;
}

.bl_headerNav_link::after {
  position: absolute;
  bottom: 19px;
  left: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  width: 100%;
  height: 1px;
  background: #3e3e3e;
  opacity: 0;
  content: "";
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.bl_headerNav_link:hover::after {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 1;
}

/* ===============================================================================
  # drawer menu
 ===============================================================================*/
.el_drawerIcon {
  display: none;
  position: fixed;
  top: 24px;
  right: 16px;
  z-index: 30;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media screen and (max-width: 767px) {
  .el_drawerIcon {
    display: block;
  }
}

.el_drawerIcon_bars {
  display: block;
  position: relative;
  width: 26px;
  height: 26px;
}

.el_drawerIcon_bar, .el_drawerIcon_bar2, .el_drawerIcon_bar3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 0;
  border-radius: 2px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-bottom: 4px solid #3e3e3e;
}

.el_drawerIcon_bar {
  top: 0;
}

.el_drawerIcon_bar2 {
  top: 8px;
}

.el_drawerIcon_bar3 {
  top: 16px;
}

.el_drawerIcon.is_active {
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
}

.el_drawerIcon.is_active .el_drawerIcon_bar {
  top: 8px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-color: #ffffff;
}

.el_drawerIcon.is_active .el_drawerIcon_bar2 {
  opacity: 0;
}

.el_drawerIcon.is_active .el_drawerIcon_bar3 {
  top: 8px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-color: #ffffff;
}

.bl_drawerNav {
  font-size: 18px;
  line-height: 22px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  width: 300px;
  height: 100%;
  background: #ffffff;
  -webkit-transition: -webkit-transform 0.5s 0.15s;
  transition: -webkit-transform 0.5s 0.15s;
  transition: transform 0.5s 0.15s;
  transition: transform 0.5s 0.15s, -webkit-transform 0.5s 0.15s;
}

.bl_drawerNav.is_active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.bl_drawerNav_inner {
  padding-top: 161px;
}

.bl_drawerNav_inner li {
  margin-bottom: 32px;
  text-align: center;
}

.bl_drawerNav_inner li:last-of-type {
  margin-bottom: 0;
}

.bl_drawerNav_link {
  font-size: 1.8rem;
  line-height: 22px;
}

.el_backgroundOverlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.el_backgroundOverlay.is_active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

/* ===============================================================================
  # jumbotron
 ===============================================================================*/
.bl_jumbotron {
  position: relative;
  height: 648px;
  padding-top: 83px;
  background: no-repeat center center / cover;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .bl_jumbotron {
    background-position: 22.2% center;
    padding-top: 63px;
    height: 667px;
  }
}

.bl_jumbotron_inner {
  position: relative;
  max-width: 1240px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 154px;
}

@media screen and (max-width: 767px) {
  .bl_jumbotron_inner {
    padding-top: 166px;
  }
}

.bl_jumbotron_cont {
  max-width: 620px;
  margin-left: auto;
  padding-right: 20px;
}

@media screen and (max-width: 767px) {
  .bl_jumbotron_cont {
    margin-right: auto;
    padding-right: 16px;
    padding-left: 16px;
  }
}

.bl_jumbotron_cont > .el_btn {
  display: block;
  margin-top: 42px;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .bl_jumbotron_cont > .el_btn {
    margin-left: auto;
    margin-top: 28px;
  }
}

.bl_jumbotron_ttl {
  display: inline-block;
  font-weight: bold;
  font-size: 3.2rem;
  line-height: 1.5;
  text-align: left;
}

.bl_jumbotron_ttl::before, .bl_jumbotron_ttl::after {
  display: block;
  width: 0;
  height: 0;
  content: "";
}

.bl_jumbotron_ttl::before {
  margin-top: calc((1 - 1.5) * 0.5em);
}

.bl_jumbotron_ttl::after {
  margin-bottom: calc((1 - 1.5) * 0.5em);
}

@media screen and (max-width: 767px) {
  .bl_jumbotron_ttl {
    font-size: 2.4rem;
    line-height: 1.66667;
  }
  .bl_jumbotron_ttl::before, .bl_jumbotron_ttl::after {
    display: block;
    width: 0;
    height: 0;
    content: "";
  }
  .bl_jumbotron_ttl::before {
    margin-top: calc((1 - 1.66667) * 0.5em);
  }
  .bl_jumbotron_ttl::after {
    margin-bottom: calc((1 - 1.66667) * 0.5em);
  }
}

.bl_jumbotron_txt {
  display: inline-block;
  margin-top: 40px;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 1.55556;
  letter-spacing: 0.025em;
  text-align: left;
}

.bl_jumbotron_txt::before, .bl_jumbotron_txt::after {
  display: block;
  width: 0;
  height: 0;
  content: "";
}

.bl_jumbotron_txt::before {
  margin-top: calc((1 - 1.55556) * 0.5em);
}

.bl_jumbotron_txt::after {
  margin-bottom: calc((1 - 1.55556) * 0.5em);
}

@media screen and (max-width: 767px) {
  .bl_jumbotron_txt {
    font-size: 1.4rem;
    line-height: 1.42857;
    letter-spacing: 0;
    margin-top: 34px;
  }
  .bl_jumbotron_txt::before, .bl_jumbotron_txt::after {
    display: block;
    width: 0;
    height: 0;
    content: "";
  }
  .bl_jumbotron_txt::before {
    margin-top: calc((1 - 1.42857) * 0.5em);
  }
  .bl_jumbotron_txt::after {
    margin-bottom: calc((1 - 1.42857) * 0.5em);
  }
}

/* ===============================================================================
  # news
 ===============================================================================*/
.ly_news {
  position: relative;
  z-index: 2;
  margin-top: 120px;
  padding-right: 40px;
  padding-left: 40px;
}

@media screen and (max-width: 767px) {
  .ly_news {
    padding-right: 4.2667%;
    padding-left: 4.2667%;
    margin-top: -39px;
  }
}

.ly_news_inner {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 60px 60px 40px;
  -webkit-box-shadow: 0px 5px 12px rgba(62, 62, 62, 0.2);
          box-shadow: 0px 5px 12px rgba(62, 62, 62, 0.2);
  background: #ffffff;
}

@media screen and (max-width: 767px) {
  .ly_news_inner {
    padding: 40px 0;
  }
  .ly_news_inner > .el_lv2Heading {
    margin-bottom: 39px;
  }
}

.ly_news_footer {
  margin-top: 39px;
  text-align: center;
}

.bl_vertPosts {
  border-top: 2px solid #cecdcd;
}

.bl_vertPosts_item {
  border-bottom: 2px solid #cecdcd;
}

.bl_vertPosts_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 40px 83px 39px 0;
  letter-spacing: 0.045em;
}

.bl_vertPosts_link.bl_vertPosts_link__first {
  padding: 39px 83px 45px 0;
}

@media screen and (max-width: 767px) {
  .bl_vertPosts_link.bl_vertPosts_link__first {
    padding: 6px 0px 12px 16px;
  }
}

@media screen and (max-width: 767px) {
  .bl_vertPosts_link.bl_vertPosts_link__2nd {
    padding: 16px 0px 14px 16px;
  }
}

@media screen and (max-width: 767px) {
  .bl_vertPosts_link.bl_vertPosts_link__3rd {
    padding: 13px 0px 13px 16px;
  }
}

@media screen and (max-width: 767px) {
  .bl_vertPosts_link {
    display: block;
  }
}

.bl_vertPosts_link::after {
  position: absolute;
  top: 50%;
  right: 14px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 14px;
  height: 22px;
  background: url(../img/news-arrow.svg) no-repeat center/contain;
  content: "";
}

.bl_vertPosts_link:hover, .bl_vertPosts_link:focus {
  outline: none;
  background: #4973ff1a;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.bl_vertPosts_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 259px;
          flex: 0 0 259px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .bl_vertPosts_header.bl_vertPosts_header__2nd {
    margin-bottom: 11px;
  }
}

@media screen and (max-width: 767px) {
  .bl_vertPosts_header {
    margin-bottom: 12px;
  }
}

.bl_vertPosts_header > .el_label.el_label__first {
  margin-top: 6px;
}

.bl_vertPosts_header > .el_label.el_label__2nd {
  margin-top: -2px;
}

.bl_vertPosts_date {
  width: 106px;
  margin-right: 32px;
  font-size: 1.8rem;
  line-height: 1.44444;
  letter-spacing: 0.025em;
}

.bl_vertPosts_date.bl_vertPosts_date__first {
  margin-top: 8px;
}

@media screen and (max-width: 767px) {
  .bl_vertPosts_date {
    width: 84px;
    margin-right: 16px;
    font-size: 1.4rem;
    line-height: 1.42857;
  }
}

.bl_vertPosts_ttl {
  padding-left: 40px;
  margin-top: 1px;
  font-size: 1.8rem;
  line-height: 1.55556;
}

.bl_vertPosts_ttl::before, .bl_vertPosts_ttl::after {
  display: block;
  width: 0;
  height: 0;
  content: "";
}

.bl_vertPosts_ttl::before {
  margin-top: calc((1 - 1.55556) * 0.5em);
}

.bl_vertPosts_ttl::after {
  margin-bottom: calc((1 - 1.55556) * 0.5em);
}

.bl_vertPosts_ttl.bl_vertPosts_ttl__first {
  margin-top: -1px;
}

@media screen and (max-width: 767px) {
  .bl_vertPosts_ttl {
    padding-right: 52px;
    padding-left: 0;
    font-size: 1.4rem;
    line-height: 1.45;
    letter-spacing: 0;
  }
  .bl_vertPosts_ttl::before, .bl_vertPosts_ttl::after {
    display: block;
    width: 0;
    height: 0;
    content: "";
  }
  .bl_vertPosts_ttl::before {
    margin-top: calc((1 - 1.45) * 0.5em);
  }
  .bl_vertPosts_ttl::after {
    margin-bottom: calc((1 - 1.45) * 0.5em);
  }
}

/* ===============================================================================
  # service
 ===============================================================================*/
.ly_service {
  padding: 61px 40px 0;
  background: linear-gradient(to bottom, #3e3e3e 0, #3e3e3e 400px, transparent 400px, transparent 100%);
}

@media screen and (max-width: 767px) {
  .ly_service {
    padding: 40px 4.266666% 0;
    background: linear-gradient(to bottom, #3e3e3e 0, #3e3e3e 480px, transparent 480px, transparent 100%);
  }
}

.ly_service .el_lv2Heading {
  color: #ffffff;
}

.bl_cardUnit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-shadow: 0px 5px 12px rgba(62, 62, 62, 0.2);
          box-shadow: 0px 5px 12px rgba(62, 62, 62, 0.2);
  background: #ffffff;
}

.bl_cardUnit.bl_cardUnit__sCol3 {
  max-width: 960px;
  padding: 60px 0 65px;
}

@media screen and (max-width: 767px) {
  .bl_cardUnit.bl_cardUnit__sCol3 {
    padding: 40px 4.664723%;
  }
}

.bl_cardUnit.bl_cardUnit__sCol3 > .bl_sCard {
  width: 23.9583333%;
}

@media screen and (max-width: 767px) {
  .bl_cardUnit {
    display: block;
  }
  .bl_cardUnit > .bl_sCard[class] {
    /*上書きのため詳細度を上げる*/
    width: 100%;
    margin-bottom: 40px;
  }
  .bl_cardUnit > .bl_sCard[class]:last-child {
    margin-bottom: 0;
  }
}

.bl_sCard_imgWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 64px;
  height: 64px;
  margin-right: auto;
  margin-left: auto;
}

.bl_sCard_imgWrapper.bl_sCard_imgWrapper__first {
  margin-top: 1px;
}

.bl_sCard_body {
  margin-top: 10px;
}

.bl_sCard_body.bl_sCard_body__first {
  margin-top: 9px;
}

.bl_sCard_ttl {
  padding-left: 4px;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.2em;
}

.bl_sCard_ttl::before, .bl_sCard_ttl::after {
  display: block;
  width: 0;
  height: 0;
  content: "";
}

.bl_sCard_ttl::before {
  margin-top: calc((1 - 1.4) * 0.5em);
}

.bl_sCard_ttl::after {
  margin-bottom: calc((1 - 1.4) * 0.5em);
}

@media screen and (max-width: 767px) {
  .bl_sCard_ttl {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.2em;
  }
  .bl_sCard_ttl::before, .bl_sCard_ttl::after {
    display: block;
    width: 0;
    height: 0;
    content: "";
  }
  .bl_sCard_ttl::before {
    margin-top: calc((1 - 1.2) * 0.5em);
  }
  .bl_sCard_ttl::after {
    margin-bottom: calc((1 - 1.2) * 0.5em);
  }
}

.bl_sCard_txt {
  margin-top: 18px;
  font-size: 1.4em;
  line-height: 1.71429;
}

.bl_sCard_txt::before, .bl_sCard_txt::after {
  display: block;
  width: 0;
  height: 0;
  content: "";
}

.bl_sCard_txt::before {
  margin-top: calc((1 - 1.71429) * 0.5em);
}

.bl_sCard_txt::after {
  margin-bottom: calc((1 - 1.71429) * 0.5em);
}

@media screen and (max-width: 767px) {
  .bl_sCard_txt {
    margin-top: 20px;
  }
}

/* ===============================================================================
  # result
 ===============================================================================*/
.ly_results {
  position: relative;
  width: calc(100% - 40px);
  margin-left: auto;
  padding: 61px 0 60px 60px;
  background: #3e3e3e;
}

@media screen and (max-width: 767px) {
  .ly_results {
    width: 100%;
    padding: 40px 0 40px 16px;
  }
}

@media screen and (max-width: 767px) and (max-width: 767px) {
  .ly_results {
    margin-bottom: 40px;
  }
}

.ly_results > .el_lv2Heading {
  color: #ffffff;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .ly_results > .el_lv2Heading {
    text-align: center;
    padding-right: 16px;
  }
}

.bl_card {
  display: block;
  height: 366px;
  background: #3e3e3e;
}

@media screen and (max-width: 767px) {
  .bl_card {
    height: 253px;
  }
}

.bl_card_body {
  padding: 17px 16px 23px;
  background: #ffffff;
}

@media screen and (max-width: 767px) {
  .bl_card_body {
    padding: 12px 13px 12px 12px;
  }
}

.bl_card_ttl {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
}

@media screen and (max-width: 767px) {
  .bl_card_ttl {
    font-size: 1.4rem;
    line-height: 1.14286;
  }
  .bl_card_ttl::before, .bl_card_ttl::after {
    display: block;
    width: 0;
    height: 0;
    content: "";
  }
  .bl_card_ttl::before {
    margin-top: calc((1 - 1.14286) * 0.5em);
  }
  .bl_card_ttl::after {
    margin-bottom: calc((1 - 1.14286) * 0.5em);
  }
}

.bl_card_txt {
  overflow-wrap: break-word;
  margin-top: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
}

.bl_card_txt::before, .bl_card_txt::after {
  display: block;
  width: 0;
  height: 0;
  content: "";
}

.bl_card_txt::before {
  margin-top: calc((1 - 1.5) * 0.5em);
}

.bl_card_txt::after {
  margin-bottom: calc((1 - 1.5) * 0.5em);
}

@media screen and (max-width: 767px) {
  .bl_card_txt {
    margin-top: 12px;
    font-size: 1.2rem;
    line-height: 1.5;
  }
  .bl_card_txt::before, .bl_card_txt::after {
    display: block;
    width: 0;
    height: 0;
    content: "";
  }
  .bl_card_txt::before {
    margin-top: calc((1 - 1.5) * 0.5em);
  }
  .bl_card_txt::after {
    margin-bottom: calc((1 - 1.5) * 0.5em);
  }
}

@media screen and (max-width: 767px) {
  .bl_results_footer {
    margin-right: 16px;
    text-align: center;
  }
}

.bl_results_footer > .el_btnRect {
  width: 289px;
}

@media screen and (max-width: 767px) {
  .bl_results_footer > .el_btnRect {
    width: 316px;
  }
}

.el_btnRect__dark {
  border: 1px solid #ffffff;
  background: #3e3e3e;
  color: #ffffff;
}

.el_btnRect__dark:focus, .el_btnRect__dark:hover {
  background: #ffffff;
  color: #3e3e3e;
}

/*=======swiper上書き=======*/
.swiper-pagination.ly_results__pagination {
  position: static;
  margin-top: 44px;
  margin-bottom: 40px;
  margin-left: -6px;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .swiper-pagination.ly_results__pagination {
    margin-top: 28px;
    margin-bottom: 24px;
    text-align: center;
  }
}

.swiper-pagination.ly_results__pagination .swiper-pagination-bullet {
  position: relative;
  width: 12px;
  height: 12px;
  margin: 0 10px !important;
  background: #fff;
  opacity: 1;
}

.swiper-pagination.ly_results__pagination .swiper-pagination-bullet-active::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  content: "";
}

/* ===============================================================================
  # price
 ===============================================================================*/
.ly_price {
  padding: 1px 40px;
}

@media screen and (max-width: 767px) {
  .ly_price {
    padding: 0 16px;
  }
}

.ly_price .bl_table-horizTable {
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
}

.ly_price .el_note {
  margin-top: 12px;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: -6px;
}

.ly_price .el_note::before, .ly_price .el_note::after {
  display: block;
  width: 0;
  height: 0;
  content: "";
}

.ly_price .el_note::before {
  margin-top: calc((1 - 1.66667) * 0.5em);
}

.ly_price .el_note::after {
  margin-bottom: calc((1 - 1.66667) * 0.5em);
}

@media screen and (max-width: 767px) {
  .ly_price .el_note {
    margin-top: 8px;
  }
}

.bl_table-horizTable {
  border: 1px solid #3e3e3e;
}

.bl_table-horizTable table {
  width: 100%;
}

.bl_table-horizTable th,
.bl_table-horizTable td {
  height: 60px;
  padding: 0 4rem;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 1;
  vertical-align: middle;
  letter-spacing: 0.01em;
}

@media screen and (max-width: 767px) {
  .bl_table-horizTable th,
  .bl_table-horizTable td {
    height: 55px;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    line-height: 1;
    letter-spacing: 0.072em;
  }
}

.bl_table-horizTable th {
  width: 27.291667%;
  background: #3e3e3e;
  color: #ffffff;
  text-align: center;
  border-bottom: 1px solid #ffffff;
}

@media screen and (max-width: 767px) {
  .bl_table-horizTable th {
    width: 28.9%;
  }
}

.bl_table-horizTable td {
  background: #ffffff;
  color: #3e3e3e;
  border-bottom: 1px solid #3e3e3e;
}

.bl_table-horizTable tr:last-of-type th {
  border-bottom-width: 0;
}

.bl_table-horizTable tr:last-of-type td {
  border-bottom-width: 0;
}

/* ===============================================================================
  # comments
 ===============================================================================*/
.ly_comments {
  position: relative;
  z-index: 1;
  padding: 0 3.125%;
}

@media screen and (max-width: 767px) {
  .ly_comments {
    padding: 0 4.2667%;
  }
}

.ly_comments_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ly_comments .el_lv2Heading {
  text-align: left;
}

.bl_comments_cont {
  max-width: 666px;
  padding: 121px 5% 120px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
}

@media screen and (max-width: 767px) {
  .bl_comments_cont {
    padding: 41px 20px;
  }
}

.bl_comments_mediaUnit li {
  margin-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .bl_comments_mediaUnit li {
    margin-bottom: 40px;
  }
}

.bl_comments_mediaUnit li:last-of-type {
  margin-bottom: 0;
}

.bl_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bl_media_imgWrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 18.31502%;
          flex: 0 1 18.31502%;
  margin-right: 5.86%;
}

@media screen and (max-width: 767px) {
  .bl_media_imgWrapper {
    margin-right: 6.6%;
  }
}

@media screen and (max-width: 767px) {
  .bl_media_imgWrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60px;
            flex: 0 1 60px;
  }
}

.bl_media_body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.bl_media_txt {
  font-size: 1.6rem;
  line-height: 1.5;
}

.bl_media_txt::before, .bl_media_txt::after {
  display: block;
  width: 0;
  height: 0;
  content: "";
}

.bl_media_txt::before {
  margin-top: calc((1 - 1.5) * 0.5em);
}

.bl_media_txt::after {
  margin-bottom: calc((1 - 1.5) * 0.5em);
}

@media screen and (max-width: 767px) {
  .bl_media_txt {
    font-size: 1.4rem;
    line-height: 1.429;
    letter-spacing: 0;
  }
  .bl_media_txt::before, .bl_media_txt::after {
    display: block;
    width: 0;
    height: 0;
    content: "";
  }
  .bl_media_txt::before {
    margin-top: calc((1 - 1.429) * 0.5em);
  }
  .bl_media_txt::after {
    margin-bottom: calc((1 - 1.429) * 0.5em);
  }
}

/* ===============================================================================
  # Q & A
 ===============================================================================*/
.ly_faq {
  position: relative;
  z-index: 1;
  padding: 61px 40px 121px;
  background: url(../img/qa-bg.png) no-repeat top center/cover;
}

@media screen and (max-width: 767px) {
  .ly_faq.ly_sect {
    margin-bottom: 40px;
  }
}

.ly_faq_inner {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .ly_faq {
    padding: 40px 4.26666% 60px;
  }
}

.ly_faq .bl_accordion {
  max-width: 612px;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .ly_faq .bl_accordion {
    margin-right: auto;
  }
}

.bl_accordion_item {
  margin-bottom: 32px;
  padding: 16px;
  border-radius: 4px;
  background: #ffffff;
}

.bl_accordion_item.bl_accordion__item2 {
  padding-top: 19px;
}

@media screen and (max-width: 767px) {
  .bl_accordion_item {
    margin-bottom: 24px;
  }
}

.bl_accordion_item:last-of-type {
  margin-bottom: 0;
}

.bl_accordion_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  cursor: pointer;
}

.bl_accordion_btn::before, .bl_accordion_btn::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 15px;
  height: 3px;
  background: #4973ff;
  content: "";
}

@media screen and (max-width: 767px) {
  .bl_accordion_btn.bl_accordion_btn__1st::before, .bl_accordion_btn.bl_accordion_btn__1st::after {
    margin-top: -4px;
  }
}

.bl_accordion_btn::after {
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
}

.bl_accordion_btn.is_active::after {
  content: none;
}

.bl_accordion_btn .bl_faq_icon {
  width: 24px;
  height: 24px;
  margin-right: 1em;
  border-radius: 50%;
  background: #4973ff;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.bl_accordion_btn .bl_faq_q_text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.025em;
}

.bl_accordion_btn .bl_faq_q_text::before, .bl_accordion_btn .bl_faq_q_text::after {
  display: block;
  width: 0;
  height: 0;
  content: "";
}

.bl_accordion_btn .bl_faq_q_text::before {
  margin-top: calc((1 - 1.5) * 0.5em);
}

.bl_accordion_btn .bl_faq_q_text::after {
  margin-bottom: calc((1 - 1.5) * 0.5em);
}

.bl_accordion_body {
  display: none;
  margin-top: 16px;
  padding: 12px 16px;
  border-radius: 4px;
  background: #3b69ff33;
}

@media screen and (max-width: 767px) {
  .bl_accordion_body {
    padding: 12px 12px 10px;
  }
}

@media screen and (max-width: 767px) {
  .bl_accordion_body.bl_accordion_body__2nd {
    padding: 13px 12px 11px;
  }
}

.bl_accordion_txt {
  font-size: 1.6rem;
}

@media screen and (max-width: 767px) {
  .bl_accordion_txt {
    font-size: 1.4rem;
    line-height: 1.56;
  }
  .bl_accordion_txt::before, .bl_accordion_txt::after {
    display: block;
    width: 0;
    height: 0;
    content: "";
  }
  .bl_accordion_txt::before {
    margin-top: calc((1 - 1.56) * 0.5em);
  }
  .bl_accordion_txt::after {
    margin-bottom: calc((1 - 1.56) * 0.5em);
  }
}

/* ===============================================================================
  # access
 ===============================================================================*/
.ly_access {
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .ly_access.ly_sect {
    margin-bottom: 0px;
  }
}

.ly_access .el_lv2Heading {
  color: #ffffff;
  text-align: left;
  padding-top: 1px;
}

.ly_access_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .ly_access_inner {
    display: block;
    position: relative;
    padding-right: 16px;
    padding-left: 16px;
  }
}

.bl_access_cont {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 60px;
}

@media screen and (max-width: 767px) {
  .bl_access_cont {
    padding-left: 0;
  }
}

.bl_access_address {
  margin-bottom: 32px;
  color: #ffffff;
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Droid Sans", sans-serif;
}

.bl_access_address::before, .bl_access_address::after {
  display: block;
  width: 0;
  height: 0;
  content: "";
}

.bl_access_address::before {
  margin-top: calc((1 - 1.5) * 0.5em);
}

.bl_access_address::after {
  margin-bottom: calc((1 - 1.5) * 0.5em);
}

@media screen and (max-width: 767px) {
  .bl_access_address {
    font-size: 1.4rem;
    line-height: 1.42857;
    padding-top: 3px;
    margin-bottom: 24px;
  }
}

.bl_map {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60.5%;
          flex: 0 1 60.5%;
  -webkit-box-shadow: 0px 0px 10px rgba(62, 62, 62, 0.2);
          box-shadow: 0px 0px 10px rgba(62, 62, 62, 0.2);
}

@media screen and (max-width: 767px) {
  .bl_map {
    margin-left: 0;
  }
}

.bl_inframe_wrapper {
  position: relative;
  width: 100%;
  padding-top: 71.62534%;
}

@media screen and (max-width: 767px) {
  .bl_inframe_wrapper {
    padding-top: 70.26239%;
  }
}

.bl_inframe_wrapper > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .bl_access_btn {
    text-align: center;
  }
}

.bl_access_btn .el_btnRect {
  width: 314px;
  margin-bottom: 61px;
  font-weight: 600;
  letter-spacing: 0.1em;
}

@media screen and (max-width: 767px) {
  .bl_access_btn .el_btnRect {
    width: 339px;
    margin-top: 24px;
  }
}

/* ===============================================================================
  # contact
 ===============================================================================*/
.ly_contact {
  position: relative;
  z-index: 1;
  padding: 60px 12.5%;
  background: url(../img/contact-bg.png) no-repeat top left/cover;
}

.ly_contact.ly_sect {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .ly_contact {
    padding: 40px 4.26666% 41px;
  }
}

.ly_contact_inner {
  width: 100%;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}

.el_requiredLabel {
  display: inline-block;
  position: relative;
  top: -2px;
  width: 40px;
  height: 17px;
  margin-left: 12px;
  border-radius: 2px;
  background: #ff4646;
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  padding: 2px;
}

@media screen and (max-width: 767px) {
  .el_requiredLabel {
    margin-left: 20px;
  }
}

.bl_contact_header {
  padding: 61px 0 60px 4px;
  border-radius: 12px 12px 0 0;
  background: url(../img/contact1.png) no-repeat center/cover;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .bl_contact_header {
    padding: 40px 4.2666666%;
    background: url(../img/contact1.png) no-repeat center center/cover;
  }
}

.bl_contact_header > .el_lv2Heading {
  margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
  .bl_contact_header > .el_lv2Heading {
    margin-bottom: 12px;
  }
}

.bl_contact_header_txt {
  padding-right: 3px;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
}

.bl_contact_header_txt::before, .bl_contact_header_txt::after {
  display: block;
  width: 0;
  height: 0;
  content: "";
}

.bl_contact_header_txt::before {
  margin-top: calc((1 - 1.5) * 0.5em);
}

.bl_contact_header_txt::after {
  margin-bottom: calc((1 - 1.5) * 0.5em);
}

@media screen and (max-width: 767px) {
  .bl_contact_header_txt {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.42857;
    text-align: left;
  }
  .bl_contact_header_txt::before, .bl_contact_header_txt::after {
    display: block;
    width: 0;
    height: 0;
    content: "";
  }
  .bl_contact_header_txt::before {
    margin-top: calc((1 - 1.42857) * 0.5em);
  }
  .bl_contact_header_txt::after {
    margin-bottom: calc((1 - 1.42857) * 0.5em);
  }
}

.bl_contact_body {
  padding: 60px 12.5%;
  border-radius: 0 0 12px 12px;
  background: #ffffff;
  font-size: 1.6rem;
}

@media screen and (max-width: 767px) {
  .bl_contact_body {
    padding: 42px 3.4985% 38px;
  }
}

.bl_contact_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 34px;
}

@media screen and (max-width: 767px) {
  .bl_contact_item {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .bl_contact_item.bl_contact_item__selectBox {
    margin-bottom: 34px;
  }
}

@media screen and (max-width: 767px) {
  .bl_contact_item.bl_contact_item__name {
    margin-bottom: 34px;
  }
}

@media screen and (max-width: 767px) {
  .bl_contact_item.bl_contact_item__kana {
    margin-bottom: 35px;
  }
}

.bl_contact_item.bl_contact_item__email {
  margin-bottom: 29px;
}

@media screen and (max-width: 767px) {
  .bl_contact_item.bl_contact_item__email {
    margin-bottom: 35px;
  }
}

.bl_contact_item.bl_contact_item__radio {
  margin-bottom: 27px;
}

@media screen and (max-width: 767px) {
  .bl_contact_item.bl_contact_item__radio {
    margin-bottom: 28px;
  }
}

.bl_contact_item:last-of-type {
  margin-bottom: 0;
}

.bl_contact_itemTtl {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 188px;
          flex: 0 0 188px;
  line-height: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media screen and (max-width: 767px) {
  .bl_contact_itemTtl {
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 767px) {
  .bl_contact_itemTtl.bl_contact_itemTtl__inquiry {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 767px) {
  .bl_contact_itemTtl.bl_contact_itemTtl__name {
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 767px) {
  .bl_contact_itemTtl.bl_contact_itemTtl__textarea {
    margin-bottom: 14px;
  }
}

.el_contact_selectBox {
  position: relative;
}

.el_contact_selectBox::after {
  position: absolute;
  top: 15px;
  right: 15px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 8px;
  height: 8px;
  content: "";
  pointer-events: none;
  border-right: 2px solid #3e3e3e;
  border-bottom: 2px solid #3e3e3e;
}

@media screen and (max-width: 767px) {
  .el_contact_selectBox::after {
    top: 14px;
    right: 16px;
  }
}

.el_contact_selectBox select {
  width: 178px;
  padding: 7px 11px;
  border: 1px solid #3e3e3e;
}

@media screen and (max-width: 767px) {
  .el_contact_selectBox select {
    font-size: 14px;
    width: 100%;
  }
}

.el_contact_selectBox select:focus, .el_contact_selectBox select:hover {
  border: 1px solid #4973ff;
  -webkit-box-shadow: 0px 0px 4px 0px #4973ff;
          box-shadow: 0px 0px 4px 0px #4973ff;
}

.el_contact_inputBox {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  position: relative;
  line-height: 1;
}

.el_contact_inputBox::after {
  position: absolute;
  width: 100%;
  height: 1px;
  content: "";
  bottom: -2px;
  left: 0;
  background: #cecece;
}

.el_input {
  width: 100%;
  padding: 5px 12px;
  height: 30px;
  line-height: 1;
}

@media screen and (max-width: 767px) {
  .el_input {
    font-size: 14px;
    height: 20px;
    line-height: 18px;
    padding: 0;
  }
}

.el_input[type="email"] {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Droid Sans", sans-serif;
}

.el_input:focus + span::after,
.el_input:hover + span::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  -webkit-box-shadow: 0px 0px 4px 0px #4973ff;
          box-shadow: 0px 0px 4px 0px #4973ff;
  background: #4973ff;
  content: "";
  z-index: 1;
}

.bl_contact_radioUnit {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.el_inputRadio {
  position: relative;
  margin-right: 36px;
}

.el_inputRadio:last-of-type {
  margin-right: 0;
}

.el_inputRadio > input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.el_inputRadio > input:checked + .el_radio_part::after {
  opacity: 1;
}

.el_radio_part {
  position: relative;
  padding-left: 20px;
}

.el_radio_part::before, .el_radio_part::after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "";
}

.el_radio_part::before {
  left: 0;
  width: 12px;
  height: 12px;
  border: 1px solid #3e3e3e;
  border-radius: 50%;
}

.el_radio_part:active::before {
  background-color: #4973ff33;
}

.el_radio_part:focus::before, .el_radio_part:hover::before {
  border: 1px solid #4973ff;
}

.el_radio_part::after {
  left: 3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #4973ff;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.el_contact_textarea {
  margin-top: 8px;
}

.el_contact_textarea textarea {
  width: 100%;
  height: 200px;
  padding: 0.5em 0.5em;
  border: 1px solid #707070;
  resize: vertical;
}

@media screen and (max-width: 767px) {
  .el_contact_textarea textarea {
    height: 160px;
  }
}

.el_contact_textarea textarea:hover, .el_contact_textarea textarea:focus {
  border: 1px solid #4973ff;
  -webkit-box-shadow: 0px 0px 4px 0px #4973ff;
          box-shadow: 0px 0px 4px 0px #4973ff;
}

.bl_contact_privacy {
  position: relative;
}

.bl_contact_privacy_input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.bl_contact_privacy_input:checked + .bl_contact_privacy_part::after {
  opacity: 1;
}

.bl_contact_privacy_input:focus + .bl_contact_privacy_part::before {
  border: 1px solid #4973ff;
}

.bl_contact_privacy_part {
  display: inline-block;
  position: relative;
  margin: 42px 0 40px;
  padding-left: 40px;
  font-size: 18px;
  line-height: 1;
  font-weight: 600;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media screen and (max-width: 767px) {
  .bl_contact_privacy_part {
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 16px;
    padding-left: 38px;
  }
}

.bl_contact_privacy_part::before {
  position: absolute;
  top: -2px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #3e3e3e;
  content: "";
}

@media screen and (max-width: 767px) {
  .bl_contact_privacy_part::before {
    top: -4px;
    width: 18px;
    height: 18px;
  }
}

.bl_contact_privacy_part::after {
  position: absolute;
  top: -2px;
  left: 6px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 8px;
  height: 16px;
  opacity: 0;
  content: "";
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-bottom: 2px solid #4973ff;
  border-right: 2px solid #4973ff;
}

@media screen and (max-width: 767px) {
  .bl_contact_privacy_part::after {
    top: -2px;
    left: 6px;
    width: 6px;
    height: 14px;
  }
}

.bl_contact_privacy_part:active::before {
  background: #4973ff33;
}

@media screen and (max-width: 767px) {
  .bl_contact_btnWrapper {
    text-align: center;
  }
}

.el_btn.el_btn__submit {
  width: 173px;
}

@media screen and (max-width: 767px) {
  .el_btn.el_btn__submit {
    width: 165px;
  }
}

.el_contact_message {
  display: none;
  font-weight: bold;
  text-align: center;
}

.el_contact_message .el_contact_message__error {
  color: #ff4646;
}

/* ===============================================================================
  # footer
 ===============================================================================*/
.ly_footer {
  height: 292px;
  padding: 58px 160px;
  background: #3e3e3e;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .ly_footer {
    height: auto;
    padding: 58px 60px 57px;
  }
}

.ly_footer_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .ly_footer_inner {
    display: block;
  }
}

.bl_snsUnit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (max-width: 767px) {
  .bl_snsUnit {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.bl_footer_sns {
  margin-right: 32px;
}

@media screen and (max-width: 767px) {
  .bl_footer_sns {
    margin-right: 51px;
  }
}

.bl_footer_sns:last-of-type {
  margin-right: 0;
}

.bl_footer_sns:hover, .bl_footer_sns:focus {
  opacity: 0.7;
}

.hp_faSize {
  color: #b2b2b2;
  font-size: 36px;
}

.hp_faSize__FB {
  font-size: 41px;
}

.bl_footer_navList {
  margin-top: 38px;
}

.bl_footer_navList li {
  margin-bottom: 23px;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .bl_footer_navList li {
    text-align: center;
    margin-bottom: 24px;
  }
}

.bl_footer_navList > *:last-of-type {
  margin-bottom: 0;
}

.bl_footer_navList_item {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 1;
  letter-spacing: 0.025em;
}

@media screen and (max-width: 767px) {
  .bl_footer_navList_item {
    font-size: 14px;
  }
}

.bl_footer_navList_item:hover, .bl_footer_navList_item:focus {
  opacity: 0.7;
}

.bl_footer_company {
  margin-top: 2px;
}

.bl_footer_company > .el_logo {
  margin-bottom: 9px;
  letter-spacing: 0.01em;
}

@media screen and (max-width: 767px) {
  .bl_footer_company > .el_logo {
    margin-top: 40px;
    margin-bottom: 12px;
  }
}

.el_logo {
  color: #e3e3e3;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .el_logo {
    font-size: 32px;
    line-height: 39px;
  }
}

.el_logo:hover, .el_logo:focus {
  opacity: 0.7;
}

.el_copyright {
  opacity: 0.6;
  color: #fff;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  letter-spacing: 0.025em;
}

@media screen and (max-width: 767px) {
  .el_copyright {
    text-align: center;
  }
}

/* ===============================================================================
    to top
// ===============================================================================*/
.el_toTop {
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 10;
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 767px) {
  .el_toTop {
    right: 16px;
    bottom: 13px;
  }
}

.el_toTop a {
  opacity: 0.6;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.el_toTop a:hover {
  opacity: 1;
}
