@charset "UTF-8";
/* ===============================================================================
  # mixin
 ===============================================================================*/
/* ===============================================================================
  # colors
 ===============================================================================*/
/* ===============================================================================
  # common - 全体に共通するスタイル
 ===============================================================================*/
@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}

body {
  min-width: 100%;
  background: #f3f3f3;
  color: #3e3e3e;
  font-weight: 500;
  font-size: 16px;
  font-family: "Montserrat", "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

img {
  max-width: 100%;
}

.section {
  margin-top: 120px;
}

@media screen and (max-width: 767px) {
  .section {
    margin-top: 60px;
  }
}

.util-title {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.22222;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .util-title {
    font-size: 30px;
    line-height: 37px;
  }
}

.button-black {
  text-align: center;
  color: #ffffff;
  background: #3e3e3e;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 4px;
  line-height: 62px;
  width: 314px;
  height: 64px;
  border: 1px solid #ffffff;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 767px) {
  .button-black {
    font-size: 18px;
    width: 316px;
    height: 54px;
    line-height: 52px;
    letter-spacing: 3.6pt;
  }
}

.button-black:hover {
  color: #3e3e3e;
  background: #ffffff;
}

/* ===============================================================================
  # header
 ===============================================================================*/
.header {
  z-index: 100;
  position: fixed;
  background: rgba(214, 215, 219, 0.6);
  width: 100%;
  left: 0;
  top: 0;
}

@media screen and (max-width: 767px) {
  .header {
    background: #f3f3f3;
  }
}

.header-logo {
  font-size: 23px;
  line-height: 28px;
  font-weight: bold;
  padding: 20px 0 20px 16px;
  letter-spacing: 0.15px;
}

.header-nav {
  width: 627px;
  margin: 0 auto;
}

.header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .header-nav-list {
    display: none;
  }
}

.header-nav-item-link {
  display: block;
  height: 83px;
  line-height: 83px;
  letter-spacing: -0.4px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .header-nav-item-link:after {
    position: absolute;
    content: "";
    left: -8%;
    bottom: 26px;
    width: 0%;
    border: 1px solid #3e3e3e;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    opacity: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media screen and (min-width: 768px) {
  .header-nav-item-link:hover::after {
    opacity: 1;
    width: 116%;
  }
}

/* ===============================================================================
  # drawer menu
 ===============================================================================*/
.drawer-icon {
  position: fixed;
  top: 24px;
  right: 16px;
  z-index: 30;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  display: none;
}

@media screen and (max-width: 767px) {
  .drawer-icon {
    display: block;
  }
}

.drawer-icon.is-active .drawer-icon__bar1 {
  top: 8px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-color: #ffffff;
}

.drawer-icon.is-active .drawer-icon__bar2 {
  display: none;
}

.drawer-icon.is-active .drawer-icon__bar3 {
  top: 8px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-color: #ffffff;
}

.drawer-icon__bars {
  width: 26px;
  height: 20px;
  display: block;
  position: relative;
}

.drawer-icon__bar1,
.drawer-icon__bar2,
.drawer-icon__bar3 {
  position: absolute;
  width: 26px;
  height: 0px;
  border-bottom: 4px solid #3e3e3e;
  border-radius: 2px;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.drawer-icon__bar1 {
  top: 0;
}

.drawer-icon__bar2 {
  top: 8px;
}

.drawer-icon__bar3 {
  top: 16px;
}

.drawer-nav {
  position: fixed;
  z-index: 20;
  width: 300px;
  height: 100%;
  right: 0;
  top: 0;
  background: #ffffff;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.drawer-nav.is-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.drawer-nav-list {
  margin-top: 161px;
}

.drawer-nav-item {
  text-align: center;
}

.drawer-nav-item:not(:first-of-type) {
  margin-top: 32px;
}

.drawer-nav-item-link {
  display: inline-block;
  width: 110px;
  height: 22px;
  font-size: 18px;
  line-height: 22px;
}

.drawer-background {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(62, 62, 62, 0.7);
  display: none;
}

.drawer-background.is-active {
  display: block;
}

/* ===============================================================================
  # top
 ===============================================================================*/
.top {
  padding: 83px 40px 153px;
  width: 100%;
  background: url(../img/mv.png) no-repeat top left/cover;
  position: relative;
}

@media screen and (max-width: 767px) {
  .top {
    height: 667px;
    padding: 68px 16px 0 16px;
    background-position: left 22% center;
  }
}

.top-message {
  width: 600px;
  margin-top: 146px;
  margin-left: auto;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .top-message {
    width: 100%;
    margin-top: 154px;
  }
}

.top-message-title {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.02px;
}

@media screen and (max-width: 767px) {
  .top-message-title {
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0;
  }
}

.top-message-text {
  margin-top: 27px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.55556;
  letter-spacing: 0.45px;
  word-break: break-all;
}

@media screen and (max-width: 767px) {
  .top-message-text {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.44;
    letter-spacing: 0;
  }
}

.top-message-footer {
  margin-top: 37px;
}

@media screen and (max-width: 767px) {
  .top-message-footer {
    margin-top: 27px;
    text-align: center;
    left: 4px;
  }
}

.button-contact {
  width: 282px;
  height: 50px;
  padding-top: 1px;
  text-align: center;
  display: inline-block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  line-height: 50px;
  letter-spacing: 0.45px;
  border-radius: 10px;
  background: #ffaa3b;
  -webkit-box-shadow: 0px 3px 5px #3e3e3e33;
          box-shadow: 0px 3px 5px #3e3e3e33;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media screen and (max-width: 767px) {
  .button-contact {
    font-size: 16px;
    width: 222px;
    height: 48px;
    line-height: 48px;
    padding: 1px 0 0 0;
    letter-spacing: -0.05px;
  }
}

.button-contact:hover {
  background: #f18900;
}

/* ===============================================================================
  # news
 ===============================================================================*/
.news {
  max-width: 1280px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 40px;
}

@media screen and (max-width: 767px) {
  .news {
    position: relative;
    padding: 0 16px;
    margin-top: -39px;
  }
}

.news-container {
  background: #ffffff;
  padding: 61px 60px 40px 60px;
  -webkit-box-shadow: 0px 5px 12px #3e3e3e33;
          box-shadow: 0px 5px 12px #3e3e3e33;
}

@media screen and (max-width: 767px) {
  .news-container {
    padding: 40px 0;
  }
}

.news-list {
  margin-top: 59px;
}

@media screen and (max-width: 767px) {
  .news-list {
    margin-top: 39px;
  }
}

.news-item {
  border-top: 2px solid #cecdcd;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 767px) {
  .news-item {
    padding: 14px 16px 10px;
  }
}

.news-item:hover {
  background: #4973ff1a;
}

.news-item2 {
  margin-bottom: -1px;
}

@media screen and (max-width: 767px) {
  .news-item2 {
    padding-top: 15px;
    padding-bottom: 11px;
  }
}

.news-item2 .news-item-header {
  margin-top: -1px;
}

.news-item3 {
  border-bottom: 2px solid #cecdcd;
}

.news-item3 .news-item-header {
  margin-top: -1px;
}

.news-item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .news-item-link {
    display: block;
  }
}

.news-item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 299px;
          flex: 0 0 299px;
  padding-right: 40px;
}

@media screen and (max-width: 767px) {
  .news-item-header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.news-item-date {
  font-size: 18px;
  line-height: 1.55556;
  letter-spacing: 0.45px;
}

@media screen and (max-width: 767px) {
  .news-item-date {
    font-size: 14px;
    letter-spacing: 0.35px;
    margin-right: 23px;
  }
}

.news-label {
  width: 121px;
  height: 30px;
  text-align: center;
  border: 2px solid #4973ff;
  border-radius: 50px;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.35px;
}

@media screen and (max-width: 767px) {
  .news-label {
    font-size: 12px;
    letter-spacing: 0.3px;
    line-height: 18px;
    width: 81px;
    height: 20px;
    margin-top: -4px;
  }
}

.news-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.news-title {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.55556;
  letter-spacing: 0.45px;
}

@media screen and (max-width: 767px) {
  .news-title {
    letter-spacing: 0;
    width: 272px;
    font-size: 14px;
    line-height: 1.43;
    margin-top: 7px;
    padding: 0;
  }
}

.news-title1 {
  padding: 33px 0 40px;
}

@media screen and (max-width: 767px) {
  .news-title1 {
    padding: 0;
  }
}

.news-title2 {
  padding: 41px 0 40px;
}

@media screen and (max-width: 767px) {
  .news-title2 {
    padding: 0;
  }
}

.news-title3 {
  padding: 33px 0 39px;
  margin-top: 8px;
}

@media screen and (max-width: 767px) {
  .news-title3 {
    padding: 0;
  }
}

.news-arrow {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83px;
          flex: 0 0 83px;
}

@media screen and (max-width: 767px) {
  .news-arrow {
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 39px;
            flex: 0 0 39px;
    top: -13px;
  }
}

.news-arrow img {
  margin-left: auto;
  margin-right: 16px;
  display: block;
  width: 11px;
  height: 22px;
}

@media screen and (max-width: 767px) {
  .news-arrow img {
    margin-right: 0;
  }
}

.news-footer {
  margin-top: 39px;
  text-align: center;
}

.button-white {
  padding-left: 3px;
  color: #3e3e3e;
  background: #ffffff;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 4px;
  line-height: 62px;
  width: 236px;
  height: 64px;
  border: 1px solid #707070;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 767px) {
  .button-white {
    padding-left: 2px;
    width: 268px;
    height: 54px;
    line-height: 52px;
    letter-spacing: 1.9px;
  }
}

.button-white:hover {
  color: #ffffff;
  background: #3e3e3e;
}

/* ===============================================================================
  # service
 ===============================================================================*/
.service {
  background: #3e3e3e;
  padding: 61px 0 60px;
  width: 100%;
  height: 400px;
}

@media screen and (max-width: 767px) {
  .service {
    height: 480px;
    padding-top: 40px;
  }
}

.service .util-title {
  color: #ffffff;
}

.service-inner {
  padding: 0 24px;
}

@media screen and (max-width: 767px) {
  .service-inner {
    padding: 0 16px;
  }
}

.service-content {
  margin: -236px auto 0;
  width: 100%;
  max-width: 960px;
  background: #ffffff;
  -webkit-box-shadow: 0px 5px 12px #3e3e3e33;
          box-shadow: 0px 5px 12px #3e3e3e33;
}

@media screen and (max-width: 767px) {
  .service-content {
    margin-top: -363px;
  }
}

.service-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 45px;
}

@media screen and (max-width: 767px) {
  .service-list {
    display: block;
    padding: 41px 16px 35px;
  }
}

.service-list-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 230px;
          flex: 0 1 230px;
  max-width: 340px;
}

@media screen and (max-width: 767px) {
  .service-list-item:not(:first-of-type) {
    margin-top: 36px;
  }
}

.service-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 64px;
}

.service-picture img {
  width: 51px;
}

.service-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  margin-top: 6px;
  padding-left: 4px;
  letter-spacing: 4px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .service-title {
    margin-top: 7px;
    line-height: 1.2;
    letter-spacing: 4px;
  }
}

.service-text {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71429;
  margin-top: 13px;
}

@media screen and (max-width: 767px) {
  .service-text {
    margin-top: 15px;
  }
}

/* ===============================================================================
  # results
 ===============================================================================*/
.results {
  width: calc(100% - 40px);
  margin-left: auto;
  padding: 61px 0 60px 60px;
  background: #3e3e3e;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .results {
    width: 100%;
    padding: 40px 0;
  }
}

.results.section {
  margin-left: 40px;
}

@media screen and (max-width: 767px) {
  .results.section {
    margin-left: 0;
  }
}

.results .util-title {
  color: #ffffff;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .results .util-title {
    text-align: center;
  }
}

.results-container {
  margin-top: 60px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .results-container {
    margin-top: 40px;
    padding-left: 16px;
  }
}

.results-card {
  height: 366px;
  background: #000;
}

@media screen and (max-width: 767px) {
  .results-card {
    height: 253px;
  }
}

.result-item-body {
  background: #ffffff;
  padding: 15px 16px 19px;
}

@media screen and (max-width: 767px) {
  .result-item-body {
    padding: 11px 16px 10px 12px;
  }
}

.result-item-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
}

@media screen and (max-width: 767px) {
  .result-item-title {
    font-size: 14px;
  }
}

.result-item-text {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  margin-top: 10px;
}

@media screen and (max-width: 767px) {
  .result-item-text {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: -0.02px;
    margin-top: 9px;
  }
}

.results-footer {
  margin-top: 100px;
}

@media screen and (max-width: 767px) {
  .results-footer {
    text-align: center;
    margin-top: 68px;
  }
}

.button-black {
  width: 289px;
  padding-left: 4px;
}

@media screen and (max-width: 767px) {
  .button-black {
    width: 316px;
    letter-spacing: 3.6px;
    padding-left: 5px;
  }
}

/* ===============================================================================
  # price
 ===============================================================================*/
.price {
  padding: 0 40px;
  margin-top: 121px;
}

@media screen and (max-width: 767px) {
  .price {
    padding: 0 16px;
  }
}

@media screen and (max-width: 767px) {
  .price.section {
    margin-top: 40px;
  }
}

.table-price {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

.table-default {
  margin-top: 60px;
  width: 100%;
  table-layout: fixed;
  font-size: 24px;
  font-weight: 600;
  border: 1px solid #3e3e3e;
}

@media screen and (max-width: 767px) {
  .table-default {
    font-size: 20px;
    margin-top: 40px;
  }
}

.table-default th {
  width: 261px;
  height: 60px;
  vertical-align: middle;
  color: #ffffff;
  background: #3e3e3e;
  text-align: center;
  border-top: 1px solid #ffffff;
}

.table-default th.first-th {
  border-top: 1px solid #707070;
}

@media screen and (max-width: 767px) {
  .table-default th {
    width: 100px;
    height: 55px;
  }
}

.table-default td {
  width: 100%;
  padding-left: 40px;
  color: #3e3e3e;
  background: #ffffff;
  border: 1px solid #707070;
  vertical-align: middle;
}

@media screen and (max-width: 767px) {
  .table-default td {
    padding-left: 19px;
  }
}

.table__attention {
  margin-top: 13px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
}

@media screen and (max-width: 767px) {
  .table__attention {
    margin-top: 9px;
  }
}

/* ===============================================================================
  # comments
 ===============================================================================*/
.comments {
  position: relative;
}

@media screen and (max-width: 767px) {
  .comments {
    margin-top: 59px;
  }
}

.comments-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

@media screen and (max-width: 767px) {
  .comments-container {
    padding: 0 16px;
  }
}

.comments-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 666px;
          flex: 0 1 666px;
  background: #ffffff;
  padding: 121px 60px 120px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .comments-content {
    padding: 40px 20px 37px;
  }
}

.comments-content .util-title {
  text-align: left;
}

.commenter {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .commenter {
    margin-top: 40px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .commenter:last-of-type {
    margin-top: 37px;
  }
}

.commenter-picture {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
}

@media screen and (max-width: 767px) {
  .commenter-picture {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60px;
            flex: 0 0 60px;
  }
}

.comment-text {
  font-size: 16px;
  line-height: 1.5;
  margin-top: -11px;
  margin-left: 32px;
}

@media screen and (max-width: 767px) {
  .comment-text {
    font-size: 14px;
    line-height: 1.44;
    margin-left: 20px;
    margin-top: -3px;
  }
}

.comments-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 534px;
          flex: 0 1 534px;
}

.comments-background {
  max-width: 980px;
  width: 100%;
  height: 577px;
  background: #3e3e3e;
  position: absolute;
  top: 146px;
  left: 0;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .comments-background {
    width: 100%;
    height: 425px;
    top: 60px;
    left: 0;
  }
}

/* ===============================================================================
  # faq
 ===============================================================================*/
.faq {
  width: 100%;
  background: url(../img/qa-bg.png) no-repeat top center/cover;
  padding: 61px 40px 120px;
  z-index: 0;
  margin-top: 119px;
}

@media screen and (max-width: 767px) {
  .faq {
    margin-top: 59px;
    padding: 42px 16px 62px;
  }
}

.faq-list {
  max-width: 612px;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .faq-list {
    margin: 0 auto;
  }
}

.faq-item {
  padding: 17px 16px 15px;
  background: #ffffff;
  border-radius: 4px;
  margin-top: 32px;
}

@media screen and (max-width: 767px) {
  .faq-item {
    margin-top: 24px;
    padding: 17px 16px 15px;
  }
}

.faq-item.faq-item1 {
  margin-top: 60px;
  padding: 16px 16px 15px;
}

@media screen and (max-width: 767px) {
  .faq-item.faq-item1 {
    margin-top: 40px;
  }
}

.faq-item.fq-item2 {
  padding: 15px 16px 16px;
}

@media screen and (max-width: 767px) {
  .faq-item.fq-item2 {
    padding: 15px 16px 16px;
  }
  .faq-item.fq-item2 .is-open {
    margin-top: 0px;
  }
}

.faq-item.fq-item2 .accordion__body {
  margin-top: 13px;
  padding-bottom: 12px;
}

@media screen and (max-width: 767px) {
  .faq-item.fq-item2 .accordion__body {
    padding-bottom: 9px;
  }
}

.faq-item.fq-item2.is-open {
  margin-top: -3px;
}

@media screen and (max-width: 767px) {
  .faq-item.position-correction3 {
    padding: 16px 16px 15px;
  }
}

.accordion-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.q-simbol {
  display: block;
  width: 24px;
  height: 24px;
  color: #ffffff;
  background: #4973ff;
  border-radius: 50%;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-top: -2px;
}

.q-title {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.4px;
  margin-left: 16px;
}

.accordion-icon {
  display: block;
  width: 16px;
  height: 16px;
  background: url(../img/plus.png) no-repeat center center/contain;
  margin-left: auto;
  margin-right: 1px;
}

@media screen and (max-width: 767px) {
  .accordion-icon {
    margin-top: -6px;
  }
}

.accordion-icon.is-open {
  background-image: url(../img/minus.png);
}

.accordion__body {
  background: #3b69ff33;
  margin-top: 16px;
  padding: 12px 16px;
  border-radius: 4px;
  display: none;
}

@media screen and (max-width: 767px) {
  .accordion__body {
    margin-top: 15px;
    padding: 9px 12px 10px;
  }
}

.accordion__body-in {
  font-weight: normal;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .accordion__body-in {
    font-size: 14px;
    line-height: 1.47;
  }
}

/* ===============================================================================
  # access
 ===============================================================================*/
.access {
  padding: 121px 0 120px 100px;
  position: relative;
  background: -webkit-gradient(linear, left top, right top, color-stop(76.5%, #3e3e3e), color-stop(76.5%, #f3f3f3));
  background: linear-gradient(90deg, #3e3e3e 76.5%, #f3f3f3 76.5%);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .access {
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .access {
    padding: 40px 16px 60px;
    background: #3e3e3e;
  }
}

.access .util-title {
  color: #ffffff;
  text-align: left;
}

.address {
  margin-top: 55px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 16px;
  color: #ffffff;
  font-weight: normal;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .address {
    font-size: 14px;
    line-height: 1.43;
    margin-top: 37px;
  }
}

.map-wrap {
  position: relative;
  float: right;
  display: block;
  width: 74.08%;
  max-width: 726px;
  margin-right: 40px;
  bottom: 171px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .map-wrap {
    margin: 20px;
    bottom: 188px;
  }
}

@media screen and (max-width: 767px) {
  .map-wrap {
    float: none;
    bottom: 0;
    margin-top: 20px;
    width: 100%;
  }
}

.map-iframe-wrap {
  width: 100%;
  padding-top: 71.62534%;
  position: relative;
}

@media screen and (max-width: 767px) {
  .map-iframe-wrap {
    padding-top: 70.26239%;
  }
}

.map-iframe-wrap > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.access-button {
  margin-top: 29px;
}

.access-button .button-black {
  letter-spacing: 2px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .access-button .button-black {
    width: 280px;
  }
}

@media screen and (max-width: 767px) {
  .access-button {
    text-align: center;
    margin-top: 25px;
  }
}

.access-button .button-black {
  width: 314px;
  padding-left: 2px;
}

@media screen and (max-width: 767px) {
  .access-button .button-black {
    width: 339px;
    letter-spacing: 1.8px;
    padding-left: 2px;
  }
}

/* ===============================================================================
  # contact
===============================================================================*/
.contact {
  background: url(../img/contact-bg.png) no-repeat center center/cover;
  width: 100%;
  margin-top: 256px;
  padding: 60px 40px;
}

@media screen and (max-width: 767px) {
  .contact {
    background-position: left center;
    padding: 41px 16px;
    margin-top: 0;
  }
}

.contact-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.contact-header {
  width: 100%;
  height: 196px;
  padding: 60px 40px;
  background: url(../img/contact1.png) no-repeat center center/cover;
  border-radius: 12px 12px 0 0;
  position: relative;
  text-align: center;
  -webkit-box-shadow: 0px 3px 5px #3e3e3e33;
          box-shadow: 0px 3px 5px #3e3e3e33;
}

@media screen and (max-width: 767px) {
  .contact-header {
    height: 163px;
    position: relative;
    padding: 38px 16px 40px;
    background: url(../img/contactbg-min.jpg) no-repeat center center/cover;
  }
  .contact-header::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
}

.contact-header .util-title {
  position: relative;
  margin-left: 4px;
  margin-top: 1px;
  z-index: 1;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .contact-header .util-title {
    margin-left: 0;
  }
}

.contact-header-text {
  position: relative;
  z-index: 1;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  margin-top: 17px;
}

@media screen and (max-width: 767px) {
  .contact-header-text {
    margin-top: 12px;
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
    margin-top: 8px;
  }
}

.contact-body {
  width: 100%;
  background: #ffffff;
  padding: 60px 120px;
  border-radius: 0 0 12px 12px;
}

@media screen and (max-width: 767px) {
  .contact-body {
    padding: 36px 12px 38px;
  }
}

.contact-form-inner {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.contact-list {
  width: 100%;
}

.contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .contact-item {
    display: block;
  }
}

.contact-item:not(:first-of-type) {
  margin-top: 32px;
}

@media screen and (max-width: 767px) {
  .contact-item:not(:first-of-type) {
    margin-top: 28px;
  }
}

.contact-item:nth-of-type(5) {
  margin-top: 28px;
}

.contact-item:last-of-type {
  display: block;
  margin-top: 23px;
}

@media screen and (max-width: 767px) {
  .contact-item:last-of-type {
    margin-top: 28px;
  }
}

.contact-item-label {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 188px;
          flex: 0 0 188px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-item-label.required::after {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: "必須";
  font-size: 12px;
  font-weight: bold;
  width: 40px;
  height: 16px;
  line-height: 16px;
  color: #ffffff;
  background: #ff4646;
  text-align: center;
  border-radius: 2px;
  margin-left: 12px;
  padding-top: 1px;
}

@media screen and (max-width: 767px) {
  .contact-item-label.required::after {
    margin-left: 20px;
  }
}

.contact-item-label label {
  margin-top: 1px;
}

.contact-select-container {
  position: relative;
}

@media screen and (max-width: 767px) {
  .contact-select-container {
    margin-top: 11px;
  }
}

.contact-select-container::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  top: 13px;
  right: 15px;
  border-right: 2px solid #3e3e3e;
  border-bottom: 2px solid #3e3e3e;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.contact-select-container .contact-item-select {
  position: relative;
  width: 261px;
  height: 40px;
  border: 1px solid #707070;
  font-size: 16px;
  font-weight: normal;
  color: #3e3e3e;
  line-height: 1;
  padding-left: 11px;
}

@media screen and (max-width: 767px) {
  .contact-select-container .contact-item-select {
    width: 100%;
    height: 38px;
    font-size: 14px;
  }
}

.contact-select-container .contact-item-select:focus, .contact-select-container .contact-item-select:hover {
  border: 1px solid #4973ff;
  -webkit-box-shadow: 0px 0px 4px 0px #4973ff;
          box-shadow: 0px 0px 4px 0px #4973ff;
}

.contact-item-input {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  height: 32px;
  line-height: 31px;
  font-size: 16px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .contact-item-input {
    margin-top: 8px;
    height: 24px;
    line-height: 22px;
  }
}

.contact-item-input:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #4973ff;
  -webkit-box-shadow: 0px 0px 4px 0px #4973ff;
          box-shadow: 0px 0px 4px 0px #4973ff;
  left: 0;
  bottom: 1px;
}

.contact-item-input input {
  width: 100%;
  padding-left: 12px;
  border-bottom: 1px solid #707070;
  display: block;
  position: relative;
}

.contact-item-input input[type="email"] {
  font-size: 16px;
  margin-left: 0px;
  letter-spacing: 0.1px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

@media screen and (max-width: 767px) {
  .contact-item-input input {
    margin-top: -2px;
    letter-spacing: -0.05px;
  }
}

@media screen and (max-width: 767px) {
  .contact-item-input input {
    padding-left: 0;
    font-size: 14px;
  }
}

.contact-item-input input::-webkit-input-placeholder {
  color: #9e9e9e;
}

.contact-item-input input:-ms-input-placeholder {
  color: #9e9e9e;
}

.contact-item-input input::-ms-input-placeholder {
  color: #9e9e9e;
}

.contact-item-input input::placeholder {
  color: #9e9e9e;
}

.contact-radio {
  position: relative;
}

.contact-radio:hover .contact-radio-part::before {
  border: 1px solid #4973ff;
}

.contact-radio-input {
  position: absolute;
  top: 3px;
  left: 0;
  opacity: 0;
}

.contact-radio-input:focus + .contact-radio-part::before {
  border: 1px solid #4973ff;
}

.contact-radio-input + .contact-radio-part {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-left: 20px;
}

.contact-radio-input + .contact-radio-part::before, .contact-radio-input + .contact-radio-part::after {
  display: inline-block;
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contact-radio-input + .contact-radio-part::before {
  width: 12px;
  height: 12px;
  border: 1px solid #707070;
  border-radius: 50%;
  left: 0;
}

.contact-radio-input + .contact-radio-part::after {
  width: 6px;
  height: 6px;
  background-color: #4973ff;
  border-radius: 50%;
  left: 3px;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.contact-radio-input + .contact-radio-part:active::before {
  background-color: #4973ff33;
}

.contact-radio-input:checked + .contact-radio-part::after {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .radio-position-correction {
    margin-top: 10px;
  }
}

.contact-radio-input-female {
  margin-left: 36px;
}

.contact-text-area {
  margin-top: 4px;
}

@media screen and (max-width: 767px) {
  .contact-text-area {
    margin-top: 11px;
  }
}

.contact-text-area textarea {
  width: 100%;
  height: 200px;
  resize: vertical;
  border: 1px solid #707070;
  padding: 0.25em 0.5em;
}

@media screen and (max-width: 767px) {
  .contact-text-area textarea {
    height: 160px;
  }
}

.contact-text-area textarea:hover, .contact-text-area textarea:focus {
  border: 1px solid #4973ff;
  -webkit-box-shadow: 0px 0px 4px 0px #4973ff;
          box-shadow: 0px 0px 4px 0px #4973ff;
}

.contact-check {
  margin-top: 41px;
}

@media screen and (max-width: 767px) {
  .contact-check {
    margin-top: 32px;
  }
}

.contact-privacy {
  position: relative;
}

.contact-privacy-input {
  position: absolute;
}

.contact-privacy-input:focus + .contact-privacy-part::before {
  border: 1px solid #4973ff;
}

.contact-privacy-input:checked + .contact-privacy-part::after {
  opacity: 1;
}

.contact-privacy-part {
  padding-left: 40px;
  height: 18px;
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .contact-privacy-part {
    padding-left: 38px;
    padding-top: 1px;
    font-size: 16px;
  }
}

.contact-privacy-part:hover::before {
  border: 1px solid #4973ff;
}

.contact-privacy-part:active::before {
  background-color: #4973ff33;
}

.contact-privacy-part::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: -1px;
  left: 0;
  border: 1px solid #707070;
}

@media screen and (max-width: 767px) {
  .contact-privacy-part::before {
    width: 18px;
    height: 18px;
    top: 0px;
    left: 0;
  }
}

.contact-privacy-part::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 16px;
  top: -1px;
  left: 6px;
  border-bottom: 2px solid #4973ff;
  border-right: 2px solid #4973ff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

@media screen and (max-width: 767px) {
  .contact-privacy-part::after {
    top: -2px;
  }
}

.contact-button {
  margin-top: 41px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .contact-button {
    margin-top: 34px;
    text-align: center;
    left: 1px;
  }
}

.button-submit {
  text-align: center;
  width: 173px;
  height: 50px;
  display: inline-block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  line-height: 50px;
  letter-spacing: 0.45px;
  border-radius: 10px;
  background: #ffaa3b;
  -webkit-box-shadow: 0px 3px 5px #3e3e3e33;
          box-shadow: 0px 3px 5px #3e3e3e33;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media screen and (max-width: 767px) {
  .button-submit {
    width: 165px;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    padding-top: 1px;
  }
}

.button-submit:hover {
  background: #f18900;
}

.button-submit[disabled] {
  background: #b2b2b2;
  color: #ffffff;
}

.contact-message {
  font-weight: bold;
  text-align: center;
  display: none;
}

.-error {
  color: #ff4646;
}

/* ===============================================================================
    # footer
   ===============================================================================*/
.footer {
  background: #3e3e3e;
  color: #ffffff;
  padding: 60px 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .footer {
    display: block;
    padding: 60px 0;
    text-align: center;
  }
}

.fa-size-twitter {
  font-size: 36px;
  color: #b2b2b2;
}

.fa-size-facebook {
  font-size: 42px;
  color: #b2b2b2;
}

.footer-sns-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer-sns-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-sns-list .footer-sns-item:last-of-type {
  margin-left: 32px;
  margin-top: -3px;
}

@media screen and (max-width: 767px) {
  .footer-sns-list .footer-sns-item:last-of-type {
    margin-left: 50px;
  }
}

.footer-nav-list {
  margin-top: 38px;
  font-size: 16px;
  border: none;
  line-height: 1;
  letter-spacing: 0.4px;
  font-weight: normal;
}

@media screen and (max-width: 767px) {
  .footer-nav-list {
    font-size: 14px;
    margin-top: 40px;
  }
}

.footer-nav-item:not(:first-of-type) {
  margin-top: 24px;
}

@media screen and (max-width: 767px) {
  .footer-nav-item:not(:first-of-type) {
    margin-top: 26px;
  }
}

.logo {
  font-size: 40px;
  font-weight: bold;
  color: #e3e3e3;
  line-height: 49px;
  letter-spacing: 0.35px;
}

@media screen and (max-width: 767px) {
  .logo {
    margin-top: 40px;
    font-size: 32px;
    line-height: 39px;
  }
}

.footer-copyright {
  font-size: 12px;
  font-weight: normal;
  line-height: 1.25;
  letter-spacing: 0.3px;
  color: rgba(255, 255, 255, 0.6);
  text-align: right;
  margin-top: 10px;
}

@media screen and (max-width: 767px) {
  .footer-copyright {
    text-align: center;
    margin-top: 10px;
  }
}

/* ===============================================================================
    # swiper.js
   ===============================================================================*/
.swiper-pagination {
  margin-top: 40px;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .swiper-pagination {
    width: 192px;
    left: 0;
    right: 0;
    margin: 24px auto 0;
  }
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  margin-right: 12px;
  display: inline-block;
  border-radius: 50%;
  background: transparent;
  position: relative;
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .swiper-pagination-bullet {
    margin-right: 4px;
    margin-left: 8px;
  }
}

.swiper-pagination-bullet::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.swiper-pagination-bullet::after {
  content: "";
  width: 12px;
  height: 12px;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
  opacity: 1;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  opacity: 1;
}

/* ===============================================================================
    to top
===============================================================================*/
.to-top {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 39px;
  right: 40px;
  z-index: 10;
  display: none;
}

.to-top a {
  opacity: 0.6;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.to-top a:hover {
  opacity: 1;
}
